.navbar{
background-color: white !important;
}
.navbar-brand{
  font-size: 35px !important;
  font-weight: 800;
  color:#0f4c75 !important;
  
}
.navbar a{
font-size: 20px ;
}
.navbar a:hover{
color:#0f4c75 !important;
}
.menu_active{
font-weight: bold;
font-weight: 800 !important;
border-bottom: #0f4c75;
}